<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mainapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mainapp.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
        android:name="mainapp.PerfilForm"
        android:label="@string/app_name"
        android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
    </activity>

        <activity
            android:name="mainapp.Team"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="mainapp.Next"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>



        <activity
            android:name="mainapp.Result"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="mainapp.BadResult"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider614110965359486"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

    </application>

</manifest>
